.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.profile-picture {
  margin-bottom: 25px;
  align-self: center;
  border-radius: 50%;
  width: 100px;
}

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.user-card-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 8px;
}

form input, form select {
  padding: 15px;
}

@media only screen and (max-width: 930px) {
  .user-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 630px) {
  .user-list {
    grid-template-columns: 1fr;
  }
}